<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.tomato.mapper.SemesterMapper">
  <resultMap id="BaseResultMap" type="ltd.tomato.model.Semester">
    <id column="semester_id" jdbcType="INTEGER" property="semesterId" />
    <result column="semester_name" jdbcType="VARCHAR" property="semesterName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    semester_id, semester_name
  </sql>
  <select id="selectByExample" parameterType="ltd.tomato.model.SemesterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from semester
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from semester
    where semester_id = #{semesterId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from semester
    where semester_id = #{semesterId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ltd.tomato.model.SemesterExample">
    delete from semester
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="semester_id" keyProperty="semesterId" parameterType="ltd.tomato.model.Semester" useGeneratedKeys="true">
    insert into semester (semester_name)
    values (#{semesterName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="semester_id" keyProperty="semesterId" parameterType="ltd.tomato.model.Semester" useGeneratedKeys="true">
    insert into semester
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="semesterName != null">
        semester_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="semesterName != null">
        #{semesterName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ltd.tomato.model.SemesterExample" resultType="java.lang.Long">
    select count(*) from semester
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update semester
    <set>
      <if test="record.semesterId != null">
        semester_id = #{record.semesterId,jdbcType=INTEGER},
      </if>
      <if test="record.semesterName != null">
        semester_name = #{record.semesterName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update semester
    set semester_id = #{record.semesterId,jdbcType=INTEGER},
      semester_name = #{record.semesterName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ltd.tomato.model.Semester">
    update semester
    <set>
      <if test="semesterName != null">
        semester_name = #{semesterName,jdbcType=VARCHAR},
      </if>
    </set>
    where semester_id = #{semesterId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ltd.tomato.model.Semester">
    update semester
    set semester_name = #{semesterName,jdbcType=VARCHAR}
    where semester_id = #{semesterId,jdbcType=INTEGER}
  </update>
</mapper>